extends layout

block content
    main(class="grid col-auto lg:grid-cols-3 sm:h-screen image")
        //-first part
        section(class="w-full sm:w-[10vw]")
            img(loading="lazy" src="../img/logo.png" alt="logo" class="w-[40%] lg:w-50 pt-8 pl-4 sm:w-56 sm:inline-block lg:block lg:px-5 float-left sm:float-none")
        h1(class="font-extrabold text-white text-6xl mt-24") Detail aktivity
        