doctype html
html(lang="cs")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/dist/output.css")
    //- přídat href pro icon
    link(rel="icon" type="image/x-icon" href="../public/img/logo.png")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="theme-color" content="#02384D")
    //-dual price range
    //-link(rel="stylesheet", href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css")
    //-script(src="https://code.jquery.com/jquery-1.11.3.min.js")
    //-script(src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")

    script(src="/script/price_range.js")
    script(src="/script/checkbox.js")
    //-
    
  body
    block content
